## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [19]:
import pandas as pd
import numpy as np

In [22]:
data = {'國家':['日本','俄羅斯','孟加拉國','奈及利亞','巴基斯坦','巴西','印度尼西亞','美國','印度','中國(不含港澳台)'],
        '人口':[127103388,142470272,166280712,177155754,196174380,202656788,253609643,318892103,1236344631,1355692576]}
df = pd.DataFrame(data)
df

          國家          人口
0         日本   127103388
1        俄羅斯   142470272
2       孟加拉國   166280712
3       奈及利亞   177155754
4       巴基斯坦   196174380
5         巴西   202656788
6      印度尼西亞   253609643
7         美國   318892103
8         印度  1236344631
9  中國(不含港澳台)  1355692576

In [40]:
# 求人口數最多的國家

df[df['人口'] == df['人口'].max()]

          國家          人口
9  中國(不含港澳台)  1355692576